body{
    background-image: url('./images/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA3L2pvYjE0NDgtYmFja2dyb3VuZC0wNGEteF8xLmpwZw.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont{
    background-image: url('./images/pngtree-cell-phone-mockup-png-image_6584021.png');
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: center;
    width: 500px;
    height: 800px;
}
.img1{
    margin-top: 100px;
    border-radius: 50%;
}
.instagram{
    margin-top: 50px;
    width: 230px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.a1{
    font-size: 29px;
    color: green;
    text-decoration: none;
    position: relative;
    
}
.a1::before{
    content: '';
    position: absolute;
    width: 0%;
    background: green;
    height: 3px;
    top: 35px;
    transition: 0.7s;
}
.a1:hover::before{
    width: 100%;
}
.Telegram{
    margin-top: 20px;
    width: 230px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.a2{
    font-size: 29px;
    color: green;
    text-decoration: none;
    position: relative;
    
}
.a2::before{
    content: '';
    position: absolute;
    width: 0%;
    background: green;
    height: 3px;
    top: 35px;
    transition: 0.7s;
}
.a2:hover::before{
    width: 100%;
}
.h1{
    color: green;
}